<div id="HomepageNavbar">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
  <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
  <!-- <li><a class="nav-link" routerLink="/chat">chat</a></li>
  <li><a class="nav-link" routerLink="/login">login</a></li> -->
  <li><a class="nav-link" routerLink="/register">register</a></li>
  <li><a class="nav-link" routerLink="/profiles">profiles</a></li>
  </ul>
  <button (click)="clearAndMove()">LogOut</button>
  </div>
 </nav>
</div>
 <h1 id="WelcomeMsg" >Welcome to {{title}}</h1>
 <div class="container">
 <router-outlet></router-outlet>
 </div>

